<h1>Listing incentives</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Code</th>
      <th>Expirydate</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @incentives.each do |incentive| %>
      <tr>
        <td><%= incentive.title %></td>
        <td><%= incentive.code %></td>
        <td><%= incentive.expirydate %></td>
        <td><%= link_to 'Show', incentive %></td>
        <td><%= link_to 'Edit', edit_incentive_path(incentive) %></td>
        <td><%= link_to 'Destroy', incentive, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Incentive', new_incentive_path %>
