<body class='theme-orange login'>
	<div class="wrapper">
		<h5><a href="http://www.engageperpage.com" target="_blank">Powered by EPP</a></h5>
		<div class="login-body">
			<h2>Change Password</h2>
			<%if !devise_error_messages2!.blank?%>
			<div class="alert alert-error">
				<ul>
					<%= devise_error_messages2! %>
				</ul>
			</div>
			<%end%>
			<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "form-validate" }) do |f| %>
			<%= f.hidden_field :reset_password_token %>

			<div class="control-group">
				<div class="pw controls">
					<%= f.password_field :password , :placeholder =>"New Password", :class => 'input-block-level' , :data => {'rule-required' =>"true"}%>
				</div>
			</div>
			<div class="control-group">
				<div class="pw controls">
					<%= f.password_field :password_confirmation , :placeholder =>"Reenter Password", :class => 'input-block-level' , :data => {'rule-required' =>"true"}%>
				</div>
			</div>
			<div class="submit">
				<%= f.submit "Change my password" ,:class =>'btn btn-primary'%>
			</div>
			</form>
			<div class="forget">
				<a href="#"><span></span></a>
			</div>
			<% end %>
		</div>
	</div>
</body>