<%= form_for(@puzzle) do |f| %>
  <% if @puzzle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@puzzle.errors.count, "error") %> prohibited this puzzle from being saved:</h2>

      <ul>
      <% @puzzle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :puzzletype %><br>
    <%= f.text_field :ptype %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :hintbox %><br>
    <%= f.text_field :hintbox %>
  </div>
  <div class="field">
    <%= f.label :winrules %><br>
    <%= f.text_field :winrules %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
